# BEGIN Allow access to wp-admin for all
<FilesMatch "(wp-login)\.php$">
    Require all granted
</FilesMatch>
# END Allow access to wp-admin for all

php_value max_execution_time 1200
php_value memory_limit 256M
php_value upload_max_filesize 256M
php_value post_max_size 256M
# BEGIN WordPress
# Direktive (vrstice) med "BEGIN WordPress" in "END WordPress" so dinamično
# ustvarjene, in bi se smele spreminjati zgolj preko WordPressovih filtrov.
# Vse spremembe direktiv med tema označevalnikoma bodo prepisane.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress